#navbar{
    grid-template-columns: repeat(1,1fr);
}
#aboutdata{
    width: 50rem;
    padding-left: 8rem;
}
.point{
    font-size: 0.7rem;
}
#endline{
    font-size: 0.8rem;
    width: 40rem;
}
.line1{
    width: 50%;
}
h1{
    font-size: 6rem;
}