#home h1{
    font-size: 1.9rem;
    padding-right: 1rem;
}
#home p{
    display: none;
}
.btn1{
    margin-right: 1rem;
}
.points1{
    font-size: 0.6rem;
    word-spacing: 3px;
    line-height: 250%;
}